@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Md.Tanvir Hossain</p>
    <p>Iftier uddin Ahmed</p>
    <p>Thuin Khan</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">tanvirjewel@live.com</a><br />
</address>